@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#app {
  height: 100%;
  width: 100%;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition:
    color 0.2s ease,
    border-color 0.2s ease,
    background 0.2s ease;
}

.text-link {
  color: var(--color-accent);
  border-bottom: 1px solid transparent;
}

.text-link:hover {
  border-color: var(--color-accent);
}
